@model BTBNsGearStore.Models.Product

@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Chi Tiết Sản Phẩm</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guarantee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guarantee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image1)
        </dt>

        <dd>
            <img src="~/Content/Images/@Model.Image1" width="80" height="90" style="border-radius:7px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image2)
        </dt>

        <dd>
            <img src="~/Content/Images/@Model.Image2" width="80" height="90" style="border-radius:7px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image3)
        </dt>

        <dd>
            <img src="~/Content/Images/@Model.Image3" width="80" height="90" style="border-radius:7px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image4)
        </dt>

        <dd>
            <img src="~/Content/Images/@Model.Image4" width="80" height="90" style="border-radius:7px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.Raw(Model.NoiDung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Sua", new { id = Model.Id }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
